#selektoriuPvz :nth-last-child(3){
  background-color: black;
  color: orange;
}

li::before{
  content: ':(';
}
li::after{
  content: '(:';
}
li::marker{
  color: red;
}
h1::first-letter{
  font-size: 50px;
}
p::first-line{
  color: red;
}
::selection{
  background-color: black;
  color: orange;
}